doctype html
html(lang="en")
  head
    title Quirky Sudoku Solver
    link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" )
    link( rel="stylesheet" href="qss.css" )

  body
    #container
      h1 Quirky Sudoku Solver

      table#blockGrid

        - var blockRow = -1
        - var blockCount = -1
        while ++blockRow < 3
          tr( id="blockRow-"+blockRow )
            - var blockCol = -1

            while ++blockCol < 3
              td.cellBlock( id="block-" + ++blockCount )
                table.cellBlock

                  - var row = -1
                  while ++row < 3
                    - var rowPos = blockRow * 3 + row
                    - var col = -1
                    tr

                      while ++col < 3
                        - var colPos = blockCol * 3 + col
                        - var cellName = "cell-"+rowPos+":"+colPos
                        - var factorPrefix = "factor-"+rowPos+":"+colPos

                        td.cell( id=cellName )
                          table.factors

                            - var miniVal = 0
                            - var miniRow = 0
                            while miniRow++ < 3
                              tr
                                - var miniCol = 0
                                while miniCol++ < 3
                                  - ++miniVal
                                  td.factor
                                    div.mc_contents( id=factorPrefix+"-"+miniVal ) #{miniVal}

//- vim: set autoindent expandtab tabstop=2 shiftwidth=2 :
