doctype html
html(lang="en")
  head
    meta( charset="UTF-8" )
    title Quirky Sudoku Solver
    link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" )
    link( rel="stylesheet" href="qss.css" )

  body

    #container
      h1 Quirky Sudoku Solver

      table#blockGrid

        - var blockRow = -1
        - var blockCount = -1
        while ++blockRow < 3
          tr( id="blockRow-"+blockRow )
            - var blockCol = -1

            while ++blockCol < 3
              td.cellBlock( id="block-" + ++blockCount )
                table.cellBlock

                  - var row = -1
                  while ++row < 3
                    - var rowPos = blockRow * 3 + row
                    - var col = -1
                    tr

                      while ++col < 3
                        - var colPos = blockCol * 3 + col
                        - var cellName = "cell-"+rowPos+":"+colPos
                        - var factorPrefix = "factor-"+rowPos+":"+colPos

                        td.cell( id=cellName )

                          div.choice 0

                          table.factors

                            - var miniVal = 0
                            - var miniRow = 0
                            while miniRow++ < 3
                              tr
                                - var miniCol = 0
                                while miniCol++ < 3
                                  - ++miniVal
                                  td.factor
                                    div.mc_contents( id=factorPrefix+"-"+miniVal ) #{miniVal}

    script( src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" )
    script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" )

    script( src="puzzles.js" )
    script( src="qss-flags.js" )
    script( src="qss.js" )

//- vim: set autoindent expandtab tabstop=2 shiftwidth=2 :
