$pageBackground: #000000
$factorTextColor: #505050
$factorTextBackground: #202020

html, body
  background-color: $pageBackground
  color: #CFCFCF

table
  border-collapse: collapse
  border-color: $pageBackground
  border: 0
  padding: 2
  margin: 2
  font-family: Calibri, sans-serif

td.cellBlock
  border: 6px solid $pageBackground

table.cellBlock
  border: 0

td.cell
  border: solid thin
  text-align: center

table.factors
  width: 100%
  font-size: x-small
  border: none
  background-color: $factorTextBackground
  color: $factorTextColor
  padding: 0
  margin: 0

td.factor
  padding: 0
  margin: 0

  div
    width: 13px
    height: 13px


//- vim: set autoindent expandtab tabstop=2 shiftwidth=2 :
