doctype html
html(lang="en")
  head
    meta( charset="utf-8" )
    meta( name="viewport" content="width=device-width" )
    title QUnit Tests
    link( rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.9.1.css" )

  body
    div#qunit
    div#qunit-fixture

    script( src="https://code.jquery.com/qunit/qunit-2.9.1.js" )
    script( src="qss-flags.js" )
    script( src="qss-flags.test.js" )

// vim: set autoindent expandtab tabstop=2 shiftwidth=2 :
